@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: "Pretendard", sans-serif;
}

:root {
    --bg-color: linear-gradient(
        135deg,
        #FCFFF2 0%,
        #FAFBFD 50%,
        #E8F5F4 100%
    );

    /* Gray */
    --gray-100: #F8F9FE; 
    --gray-200: #E8E9F1; 
    --gray-300: #D4D6DD; 
    
    --gray-700: #71727A; 
    --gray-900: #1F2024; 

    /* Brand */
    --primary: #026C5F;  
    --primary-dark: #00443A;

    /* Accent */
    --blue: #006FFD;
    --orange: #E86339;
    --red: #ED3241;

    /* Surface */
    --white: #FFFFFF;

    /*반투명*/
    --white-a-40: rgba(255, 255, 255, 0.4);

}